section.approach
	.container
		.title.title--with-bottom-line
			h2.title.title__header Our Approach
			.title__text Check out our approaches step by step (how we do it)
		ul.approach__list
			li.approach__item
				.approach__image
					img.approach__picture(src='../images/step-1.jpg' alt='our approach')
					.approach__step step
				.approach__text
					.approach__title Step 1 : Heading here
					p.approach__description.
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque rerum itaque quia exercitationem ullam! Tempora labore accusamus facere possimus pariatur? Quaerat corporis cumque quia mollitia facere tempore hic unde velit.
			li.approach__item
				.approach__image
					img.approach__picture(src='../images/step-2.jpg' alt='our approach')
					.approach__step step
				.approach__text
					.approach__title Step 1 : Heading here
					p.approach__description.
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque rerum itaque quia exercitationem ullam! Tempora labore accusamus facere possimus pariatur? Quaerat corporis cumque quia mollitia facere tempore hic unde velit.
			li.approach__item
				.approach__image
					img.approach__picture(src='../images/step-3.jpg' alt='our approach')
					.approach__step step
				.approach__text
					.approach__title Step 1 : Heading here
					p.approach__description.
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque rerum itaque quia exercitationem ullam! Tempora labore accusamus facere possimus pariatur? Quaerat corporis cumque quia mollitia facere tempore hic unde velit.
			li.approach__item
				.approach__image
					img.approach__picture(src='../images/step-4.jpg' alt='our approach')
					.approach__step step
				.approach__text
					.approach__title Step 1 : Heading here
					p.approach__description.
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque rerum itaque quia exercitationem ullam! Tempora labore accusamus facere possimus pariatur? Quaerat corporis cumque quia mollitia facere tempore hic unde velit.