.contacts
	a.contact(href="+75557899900")
		i.fa.fa-mobile(aria-hidden="true")
		span.contact__text +7999 555 3421
	a.contact(href='mailto:info@business.co')
		i.fa.fa-envelope.contact__iccontact__icon--email(aria-hidden='true')
		span.contact__text info@business.co
	a.facebook-icon(href='facebook.com')
		i.fa.fa-facebook(aria-hidden='true')